body {
    margin: 0;
    overflow: hidden;
    font-family: Andale Mono, monospace; /* Set font family to Andale Mono */
    text-align: center;
    color: black;
    background-color: black; /* Added background color for better visibility */
    cursor: none; /* Hide the cursor by default */
}
canvas {
    display: block;
}
#clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px; /* Increased font size for better visibility */
    opacity: 0.6;
}
#date {
    position: absolute;
    top: calc(50% - 50px); /* Adjust position above the clock */
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px; /* Font size for the date */
    opacity: 0.6;
}
#author {
    display: block;
    font-weight: bold;
}
footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    /* color: white; */
    opacity: 0.6;
    padding: 20px 0;
    z-index: 10; /* Increase z-index to bring footer to the front */
}